services:
  postgres:
    image: postgres:17
    container_name: webhook-debugger-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: webhooks
    ports:
      - 5432:5432
